.button--block {
  display: block;
  width: 100%;
}

.button--primary {
  background-color: var(--primary);
  color: #fff;

  &:hover {
    color: #000;
  }
}

.button--error,
.error-state {
  border: solid 1px var(--error);
  color: var(--error);
  fill: var(--error);
}

.alert {
  padding: 8px;
  border: solid 1px;
  border-radius: 4px;

  &--error {
    border-color: var(--error);
    color: var(--error);
  }

  &--success {
    border-color: var(--success);
    color: var(--success);
  }

  &--info {
    border-color: var(--info);
    color: var(--info);
  }
}

.button--success,
.success-state {
  border: solid 1px var(--success);
  color: var(--success);
  fill: var(--success);
}

.button--info,
.info-state {
  border: solid 1px var(--info);
  color: var(--info);
  fill: var(--info);
}

.button--small {
  padding: 4px 8px;
}

.button-group {
  display: flex;
  button {
    border-radius: 0;
    margin: 0;

    &:first-of-type {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:last-of-type {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
