.flex,
.sm\:flex {
  display: flex;
  align-items: center;

  &--all-center {
    align-items: center;
    justify-content: center;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--align-center {
    align-items: center;
  }
  &--align-start {
    align-items: flex-start;
  }
  &--align-end {
    align-items: flex-end;
  }

  &--justify-center {
    justify-content: center;
  }
  &--justify-start {
    justify-content: flex-start;
  }
  &--justify-end {
    justify-content: flex-end;
  }

  .column {
    width: 50%;
    padding: 6px;
    box-sizing: border-box;

    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
}

.justify-end {
  justify-content: end;
}
.justify-start {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .flex {
    display: block;
  }
}
