.margin-none {
  margin: 0;

  &--bottom {
    margin-bottom: 0;
  }
}

.margin-xs {
  margin: 4px;

  &--bottom {
    margin-bottom: 4px;
  }
  &--left {
    margin-left: 4px;
  }
  &--right {
    margin-right: 4px;
  }
}

.margin-sm {
  margin: 8px;

  &--bottom {
    margin-bottom: 8px;
  }
  &--left {
    margin-left: 8px;
  }
  &--right {
    margin-right: 8px;
  }
}

.margin-md {
  margin: 12px;

  &--bottom {
    margin-bottom: 12px;
  }
  &--left {
    margin-left: 12px;
  }
  &--right {
    margin-right: 12px;
  }
  &--top {
    margin-top: 12px;
  }
}
.margin-lg {
  margin: 20px;

  &--bottom {
    margin-bottom: 20px;
  }
  &--left {
    margin-left: 20px;
  }
  &--right {
    margin-right: 20px;
  }
  &--top {
    margin-top: 20px;
  }
}

.margin-auto {
  margin: auto;

  &--left {
    margin-left: auto;
  }
  &--right {
    margin-right: auto;
  }
}
