.capitalize {
  text-transform: capitalize;
}

.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }

  &-success {
    color: var(--success);
  }
}
