.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.third-width {
  width: 33.33%;
}

@media screen and (max-width: 700px) {
  .mobile\:full-width {
    width: 100%;
  }
  .mobile\:half-width {
    width: 50%;
  }
  .mobile\:third-width {
    width: 33.33%;
  }
}
