.container {
  display: flex;
  align-items: center;
  max-width: 400px;

  img {
    width: 100px;
    margin-left: 20px;
  }
}

.input {
  width: 100%;
  margin: 0;
}
.external-map-list {
  margin-top: 12px;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: scroll;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.external-map-image {
  // className="flex" style={{ width: "25%" }}
  display: flex;
  width: 25%;

  @media screen and (max-width: 800px) {
    margin: auto;
    width: 50%;

    img {
      width: 100%;
      margin: 4px 4px 0;
    }
  }
}
