.menu-button {
  display: none;
}
.list {
  list-style: none;
  cursor: pointer;

  &--main,
  &--opened {
    display: flex;
  }

  &--child {
    overflow: hidden;
    height: 0px;
    position: absolute;
    top: 70%;
    background-color: var(--background-alt);
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    transition: all 0.3s;
    font-size: 0.9em;
    padding: 0;

    .list-item {
      margin-top: 4px;

      &__link {
        padding: 4px 20px !important;
      }
      &:hover {
        padding-left: 4px;
      }
    }
  }

  .list-item {
    position: relative;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s;
    background-color: transparent;

    &:hover {
      background-color: var(--background-alt);
      border-radius: 4px 4px 0px 0px;
      .list {
        height: auto;
        padding: 4px 0;
      }
    }

    &__link {
      color: var(--text-bright) !important;
      padding: 12px;
      display: block;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 655px) {
  .menu-button {
    display: block;
    position: fixed;
    top: 4px;
    right: 4px;
    z-index: 9;
  }
  .list--child {
    display: none;
  }
  .list {
    position: fixed;
    left: 200vw;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    transition: all 0.3s;
    box-shadow: var(--box-shadow);
    display: block;
  }
  .list--opened {
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 4px;
    background-color: var(--background);
  }
}
