.button {
  position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 12px 24px;
  font-size: 24px;
  box-shadow: var(--box-shadow);
  z-index: 8;
}

@media screen and (max-width: 600px) {
  .button {
    display: none;
  }
}

.card {
  position: fixed;
  right: 8px;
  bottom: 8px;
  width: 400px;
  z-index: 9;

  input[type="number"] {
    width: 60px;
  }

  input[type="text"] {
    width: 100%;
    display: block;
  }

  td button {
    display: block;
    margin: auto;
  }
}
