.message-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  z-index: 50;
  justify-content: center;
  align-items: center;
}

.message {
  text-align: center;
  width: 100%;
  font-size: 50px;
  opacity: 0.5;
  text-transform: uppercase;
}

.lines-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--background);
  top: 0;
  left: 0;
  --spinner-height: 33.3vh;
  z-index: 20;
}

@keyframes bounce {
  25% {
    transform: rotate(180deg);
    margin: 0;
  }
  50% {
    margin: var(--spinner-height) 0;
    transform: rotate(360deg);
  }
  75% {
    margin: 0;
  }
  100% {
    transform: rotate(0deg);
    margin: var(--spinner-height) 0;
  }
}
.spinner {
  width: 50vh;
  height: 5px;
  background-color: var(--background-alt);
  margin: var(--spinner-height) 0;
  animation: bounce 3s infinite;
}
