.container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  opacity: 0;
  left: 0;
  top: -20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.2s;
  box-shadow: 0px 20px 20px 20px rgb(0, 0, 0, 30%);
}
