.container {
  position: relative;
}

.input-wrap {
  display: flex;
}

.input {
  transition: all 0.3s;
  width: 70%;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
}

.clear-button {
  border-radius: 0 4px 4px 0;
  width: 30%;
  align-self: end;
  margin: 0;
}

.results {
  position: absolute;
  z-index: 9;
  max-height: 200px;
  overflow: auto;
  width: 100%;
  margin-top: 2px;
  // space for scroll bar
  width: calc(100% - 15px);
}

.hit {
  margin: 8px auto;
  cursor: pointer;
}
