.container {
  max-width: 900px;
  margin: auto;
  padding: 12px;
  padding-top: 16px;
}

.heading {
  width: 100%;
}

@media screen and (max-width: "600px") {
  .heading {
    display: block;

    h1 {
      input {
        width: 85%;
      }
    }
  }
}
