.container {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 32%);
  width: 100vw;
  height: 100vh;
}
.card {
  border-radius: 4px;
  padding: 12px;
  box-shadow: var(--box-shadow);
  margin: 8px;
  max-width: 900px;
  margin: auto;
  background-color: var(--background-body);
}
