.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-phase-selector {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 999;

  @media screen and (max-width: 700px) {
    display: none;
  }
}
