.container {
  display: flex;
  align-self: center;
  align-items: center;
  background-color: var(--background-alt);
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);

  .link {
    color: var(--text-main);
    display: block;
    font-size: 14px;

    &:hover {
      text-decoration: none;
    }
  }
}
.item-divider {
  margin: 0 8px;
}
