.container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  z-index: 999;
  overflow: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 700px) {
    display: block;
    white-space: nowrap;
    left: 0;
    padding: 0;
  }

  & > button {
    box-shadow: var(--box-shadow);
    margin: 0;
  }
}

.tool-item {
  margin-left: 12px !important;
  font-size: 12px;
  padding: 4px 6px;

  &--breadcrumbs {
    //
  }

  @media screen and (max-width: 700px) {
    display: inline-flex;

    &--breadcrumbs {
      display: inline-flex;
    }
  }
}
