.point {
  position: absolute;
  background-color: var(--background-body);
  border-radius: 100%;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.1s;
  z-index: 9;

  &-text {
    white-space: pre;
    color: var(--text-bright);
    font-weight: bold;
    font-family: cursive;
    text-shadow: 0 0 2px var(--highlight);

    @media screen and (max-width: 700px) {
      font-size: 10px;
    }
  }

  &--not-placed {
    position: static;
    background-color: red;
  }
}
