.container {
  //
}

.equipment-list {
  &-container {
    width: 90vw;
  }

  &-filters {
    width: 100%;
    padding: 18px;
  }

  &-items {
    max-height: 70vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  &-single-item {
    width: 33%;
    padding: 4px;
    box-sizing: border-box;

    .inner {
      border: solid 1px var(--border);
      padding: 6px;
      border-radius: 4px;

      .name {
        margin: auto;
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
  }
}

.pinned-items-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;

  @media screen and (max-width: 700px) {
    display: block;
  }

  .pinned-item {
    width: 46%;
    margin: 6px;
    box-sizing: 6px;
    justify-content: center;

    @media screen and (max-width: 700px) {
      width: 90%;
    }

    .name {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 4px;
      }
    }
    b {
      font-weight: bolder;
    }
  }
}
