.indicator {
  width: 100%;
  height: 2px;
  background-color: grey;
  margin-top: 4px;

  &__health {
    height: 100%;
    background-color: #9b0000;
    box-shadow: 0px 0px 3px 3px #9b0000;
    border-radius: 2px;
    max-width: 100%;
  }
}
