.spells-list-modal {
  position: relative;
  padding: 12px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--background);
  display: flex;

  .spell-options-container {
    max-height: 100%;
    overflow: auto;
    width: 75%;
    padding: 12px;
  }
  input {
    background-color: var(--background);
    margin: 12px 0;
    box-sizing: border-box;
    width: 100%;
  }
}
.all-filters {
  width: 25%;
  height: 98%;
  overflow: auto;
  padding-bottom: 12px;
}
.filter-list-container {
  margin-top: 12px;
}
.filter-option {
  margin: 2px;
  &--active {
    background-color: var(--info);
  }
}

.spell-title {
  font-size: 1.2rem;
  font-weight: bold;
}
