.item-list {
  display: flex;
  flex-wrap: wrap;
}

.news-source {
  color: var(--text-muted);
}

.item-card {
  padding: 8px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;

  &__content {
    padding: 4px;
    box-shadow: var(--box-shadow);
    background-color: var(--background);
  }
}

@media screen and (max-width: 700px) {
  .page-title {
    font-size: 28px;
    line-height: 1.1;
  }
  .item-list {
    display: block;
  }
  .item-card {
    width: 100%;

    .news-source {
      font-size: 10px;
    }

    h2 {
      font-size: 18px;
      margin: 0;
      line-height: 1;
      padding-bottom: 0;
    }
    p {
      font-size: 12px;
      margin: 0;
    }
  }
}
