:root {
  --error: #f35555;
  --success: #36b136;
  --info: #6a97ff;
  --box-shadow: 0px 0px 8px rgb(0 0 0 / 32%);
  --primary: #000;
}

.overflow-auto {
  overflow: auto;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

.block {
  display: block;
}

button {
  display: flex;
  align-items: center;
}

.list-none {
  list-style: none;
}

.border-box {
  box-sizing: border-box;
}

.rounded {
  border-radius: 4px;

  &--lg {
    border-radius: 12px;
  }
}

.padded {
  &-none {
    padding: 0px;
  }

  &-sm {
    padding: 4px;
  }

  &-md {
    padding: 8px;
  }

  &-lg {
    padding: 12px;
  }
}

.absolute {
  position: absolute;

  &.top {
    top: 20px;

    &--small {
      top: 8px;
    }
  }

  &.right {
    right: 20px;

    &--small {
      right: 8px;
    }
  }

  &.left {
    left: 20px;

    &--small {
      left: 8px;
    }
  }

  &.bottom {
    bottom: 20px;

    &--small {
      bottom: 8px;
    }
  }
}
.fixed {
  position: fixed;

  &.top {
    top: 20px;
  }

  &.right {
    right: 20px;
  }

  &.left {
    left: 20px;
  }

  &.bottom {
    bottom: 20px;
  }
}

.relative {
  position: relative;
}

.main--thin {
  max-width: 900px;
  margin: auto;
  padding: 8px;
}

@import "./includes/button";
@import "./includes/margin";
@import "./includes/width";
@import "./includes/flex";
@import "./includes/text";
@import "./includes/input";

.pointer {
  cursor: pointer;
}

.width {
  &-full {
    width: 100%;
  }
}

.ck .ck-content {
  background-color: transparent !important;
  min-height: 300px;
  max-height: 500px;
}

.wysiwyg__content {
  img {
    display: block;
    margin: auto;
  }
}

.home-page {
  img {
    border-radius: 4px;
    margin: auto;
  }
}
.home-page-feature {
  p {
    padding: 12px;
  }
}

@media screen and (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 6px;
  }
  p {
    padding: 8px;
  }
}

a:hover {
  text-decoration: none;
}

.map-preview {
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin: 4px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 18px 17px rgba(139, 139, 139, 0.2);
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;

  @media screen and (max-width: 900px) {
    &--manager {
      width: 45%;
      height: 130px;
    }
  }

  &--small {
    width: 150px;
    height: 150px;
  }

  &--thumb {
    width: 80px;
    height: 80px;
  }
}
