.episode-list {
  display: flex;
  flex-wrap: wrap;
}
.episode-card {
  padding: 8px;
  width: 50%;
  box-sizing: border-box;

  &__content {
    padding: 4px;
    box-shadow: var(--box-shadow);
    background-color: var(--background);
  }
}

@media screen and (max-width: 700px) {
  .episode-list {
    display: block;
  }
  .episode-card {
    width: 100%;
  }
}
